.drawing-wrapper {
  position: relative;
}

.hangman-head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid black;
  position: absolute;
  top: 50px;
  right: -30px;
}

.hangman-body {
  width: 10px;
  height: 100px;
  background: black;
  position: absolute;
  top: 120px;
  right: 0;
}

.hangman-right-arm {
  width: 80px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  right: -70px;
  rotate: -30deg;
  transform-origin: "left bottom";
}

.hangman-left-arm {
  width: 80px;
  height: 10px;
  background: black;
  position: absolute;
  top: 150px;
  left: 237px;
  rotate: 30deg;
  transform-origin: "left bottom";
}

.hangman-right-leg {
  width: 90px;
  height: 10px;
  background: black;
  position: absolute;
  top: 250px;
  right: -65px;
  rotate: -120deg;
  transform-origin: "right bottom";
}

.hangman-left-leg {
  width: 90px;
  height: 10px;
  background: black;
  position: absolute;
  top: 250px;
  right: -15px;
  rotate: 120deg;
  transform-origin: "right bottom";
}

.drawing-small-bar {
  height: 50px;
  width: 10px;
  background: hsl(0, 0%, 0%);
  position: absolute;
  top: 0;
  right: 0;
}

.drawing-top-bar {
  height: 10px;
  width: 200px;
  background: hsl(0, 0%, 0%);
  margin-inline-start: 120px;
}

.drawing-horizontal-bar {
  height: 400px;
  width: 10px;
  background: hsl(0, 0%, 0%);
  margin-inline-start: 120px;
}

.drawing-bottom-bar {
  height: 10px;
  width: 250px;
  background: hsl(0, 0%, 0%);
}

.word-wrapper {
  display: flex;
  gap: 0.25em;
  font-size: 6rem;
  font-weight: bold;
  text-transform: uppercase;
  font-family: monospace;
}

.word-underline {
  border-bottom: 0.1em solid black;
}

.word-letter {
  visibility: hidden;
}

.keyboard-wrapper {
  align-self: stretch;
  margin-block-start: 1.5em;
}

.keyboard-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
  gap: 0.5em;
  margin-block-end: 1.5em;
}

.keyboard-button {
  width: 100%;
  border: 3px solid hsl(0, 0%, 0%);
  background: none;
  aspect-ratio: 1/1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5em;
  font-weight: bold;
  cursor: pointer;
  color: black;
  border-radius: 20%;
}

.keyboard-button:hover,
keyboard-button:focus {
  background-color: hsl(0, 0%, 100%);
}

.keyboard-button-active {
  color: hsl(263, 44%, 79%);
  background-color: hsl(0, 0%, 100%);
}

.keyboard-button-inactive {
  opacity: 0.3;
}

.keyboard-button-inactive:hover:disabled,
.keyboard-button-inactive:focus:disabled {
  background-color: hsl(263, 44%, 79%);
}
