.drawing-wrapper {
  position: relative;
}

.drawing-top-bar {
  height: 10px;
  width: 200px;
  background: hsl(0, 0%, 0%);
  margin-inline-start: 120px;
}


.drawing-horizontal-bar {
  height: 400px;
  width: 10px;
  background: hsl(0, 0%, 0%);
  /* divide the width of the bottom bar, and the width of this bar */
  margin-inline-start: 120px;
}

.drawing-bottom-bar {
  height: 10px;
  width: 250px;
  background: hsl(0, 0%, 0%);
}